<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="card-text">Add Vaccination Details</div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <form [formGroup]="vaccineDetails" (ngSubmit)="addVaccineDetails()">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" formControlName="name">

                        <label for="vaccination">Vaccination</label>
                        <select name="vaccination" id="vaccination" class="form-control" formControlName='vaccination'>
                            <option value="first">dose 1</option>
                            <option value="second">dose 2</option>
                        </select>

                        <label for="vaccinationDate">Vaccination Date</label>
                        <input type="date" name="vaccinationDate" id="vaccinationDate" formControlName="vaccinationDate" class="form-control">

                        <label for="brand">Vaccine Brand</label>
                        <input type="text" name="brand" id="brand" formControlName="brand" class="form-control">

                        <label for="hospital">Given At (Hospital Name)</label>
                        <input list="option-list" type="text" name="hospital" id="hospital" formControlName="hospital" class="form-control">
                        <datalist id="option-list">
                            <option *ngFor="let vc of givenAt">{{vc}}</option>
                        </datalist>

                        <!-- <input type="text" name="hospital" id="hospital" formControlName="hospital" class="form-control"> -->
                        <br>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-4 offset-2">
                                    <button class="btn btn-dark btn-block" [disabled]="vaccineDetails.invalid">Save</button>
                                </div>
                                <div class="col-4 offset-2">
                                    <button type="reset" class="btn btn-dark btn-block" (click)="redirectHome()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>